<footer>
  <div class="row">
    <div class="col-xs-12 col-sm-6 va-container 100-width">
      <p class="va-element">
        © 2016 Rafael Pacas. All rights reserved.
      </p>
    </div>
    <div class="hidden-xs col-sm-6 va-container">
      <h5 class="va-element">SouPic is still in Alpha phase. It's essentially a giant bug... but makes soups! Yum!</h5>
    </div>
  </div>
</footer>
