<div class="upload container">
  <div class="row">
    <div class="col-xs-2 col-sm-4">

    </div>
    <div class="col-xs-8 col-sm-4">
      <form id="upload-pic" class="well">
        <input type="file" name="pic" value="">
        <br>
        <button class="btn btn-primary" type="submit" name="name">
          Make soup <img class="hidden loading" src="/img/loading.gif" alt=""/>
        </button>
      </form>
      <div class="hidden error bg-danger">
        <p class="msg"><!-- Error message --></p>
      </div>
    </div>
    <div class="col-md-2 col-sm-4">

    </div>
  </div>
  <div class="row">
    <div class="soup-container col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-8">
      <img id="soup" src="" alt="" />
    </div>
  </div>
</div>
