<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Make a soup</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js" charset="utf-8"></script>
    <script src="/scripts.js" charset="utf-8"></script>
  </head>
  <body>
    <header>
      <div class="row">
        <div class="col-sm-2">

        </div>

        <div id="logo" class="col-sm-8">
            <h1>SouPic</h1>
        </div>

        <div class="col-sm-2">

        </div>
      </div>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-xs-2 col-sm-4">

        </div>
        <div class="col-xs-8 col-sm-4">
          <form id="upload-pic" class="well">
            <input type="file" name="pic" value="">
            <button class="btn btn-primary" type="submit" name="name">
              Make soup <img class="hidden loading" src="/img/loading.gif" alt=""/>
            </button>
          </form>
          <div class="hidden error bg-danger">
            <p class="msg"><!-- Error message --></p>
          </div>
        </div>
        <div class="col-md-2 col-sm-4">

        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-8">
          <img id="soup" src="" alt="" />
        </div>
      </div>
    </div>
    <footer><h5>SouPic is still in Alpha phase. It's essentially a giant bug... but makes soups! Yum!</h5></footer>
  </body>
</html>
