<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Make a soup</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js" charset="utf-8"></script>
    <script src="/scripts.js" charset="utf-8"></script>
  </head>
  <body>
    <header>

    </header>

    <div class="container">
      <div class="row">
        <div class="col-xs-2 col-sm-4">

        </div>
        <div class="col-xs-8 col-sm-4">
          <h1>soupic</h1>
          <form id="upload-pic" class="well">
            <input type="file" name="pic" value="">
            <button class="btn btn-primary" type="submit" name="name">
              Make soup
            </button>
          </form>
        </div>
        <div class="col-md-2 col-sm-4">

        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-8">
          <img id="soup" src="" alt="" />
        </div>
      </div>
    </div>
    <footer></footer>
  </body>
</html>
