* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: url('./img/soups.jpg') no-repeat center center fixed;
  background-size: cover;
}

header {
  margin-bottom: 10px;
}

header {
  /*height: 100px;*/
  width: 100%;
  background-color: lightsalmon;
  text-align: center;
  box-shadow: 0 2px 1px #777;
  /*position: fixed;*/
  /*z-index: 9999;*/
}

#nav-links h2 a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
}

#logo {
  color: white;
}

#logo h2 a {
  text-decoration: none;
  color: white;
}

.soup-container {
  text-align: center;
}

#soup {
  width: 100%;
  max-width: 450px;
}

.loading {
  height: 20px;
}

#upload-pic button,
#login-btn {
  background-color: lightseagreen;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  color: white;
  background-color: lightsalmon;
  box-shadow: 0 -2px 1px #777;
}

.va-container {
  display: table;
  height: 50px;
}

.va-element {
  display: table-cell;
  vertical-align: middle;
}

.100-width {
  width: 100%;
}
