header {
  margin-bottom: 10px;
}

header {
  height: 50px;
  background-color: lightsalmon;
}

#logo {
  text-align: center;
  color: white;
}
#logo > h1 {
  margin: 0;
}

#soup {
  width: 100%;
}

.loading {
  height: 20px;
}

footer {
  text-align: center;
  color: white;
}
